:root {
   --primary-text-color:#212121;
   --secondary-text-color: #757575;
   --accent-color: #2196F3; 
   --primary-white-color: #ffffff;
   --primary-bgcolor:#2F303A;
   --secondary-bgcolor: #E5E5E5;
   --tertiary-bgcolor: #F5F4FA;
}

body { 
    color: var(--primary-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
      }


/* боксы*/
.box1{ background-color: var(--primary-white-color);

}

.box2 {
    background-color: var(--primary-bgcolor)
   
}

.box3 {
    background-color: var(--secondary-bgcolor);
}

.box4 {
    background-color: var(--secondary-bgcolor);
}

.box5 {
    background-color: var(--tertiary-bgcolor);
}

.box6 {
    background-color: var(--primary-bgcolor);
}

.box7 {
    background-color: var(--secondary-bgcolor);
}

/* все что с хувер эффектом*/
.header{ color: inherit;
         font-family: inherit;
         font-weight: 500;
         font-size: 14px;
         line-height: 16px;
         letter-spacing: 0.02em;
         }

.header:hover, .header:focus { 
    color: var(--accent-color);
}

.submit {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

.filter:hover, .filter:focus { background-color: var(--accent-color);
                               color:var(--primary-white-color);
}

/* все описания */

.description {
    color: var(--secondary-text-color);
}

.primary {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;  

}

.secondary {
    font-family: inherit;
     font-size: 16px;
    line-height: 30px;
}

/* Logo*/

.logo {
    color: var(--accent-color);
    font-family: 'Releway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo2 {
    color: var(--primary-text-color);
}

.logo3 { 
    color: var(--primary-white-color);
}

/*footer*/

.footer {
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-white-color);
}

/*все заголовки*/

.heading1 {
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 0.06em;

}

.heading3 {
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: inherit;

}

.heading4 {
    font-family: inherit;
    font-size: 36px;
    line-height: 42px;
    color: imherit;
}

.heading5 {font-family: inherit;
           font-style: medium;
           font-size: 16px;
           line-height: 19px;
           color: inherit;

}

.heading6 {
    font-family: inherit;
    color: inherit;
    font-size: 18px;
    line-height: 36px;
}
